// Global Styles - applies across the entire admin panel

// Remove padding from top of main nav
#adminmenu {
	margin-top:0
}

// Style Admin bar color
#wpadminbar {
	background:$primary-color--dark;
}

// Admin Bar - Clean up top level items
#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-wpseo-menu,
#wp-admin-bar-all-in-one-seo-pack-pro,
#wp-admin-bar-wp-rocket,
#wp-admin-bar-updates,

// Admin Bar - Remove defalt Drop down nav from W
#wp-admin-bar-about,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,

// Admin Bar - Remove drop down from site name (as it now links to the site)
li#wp-admin-bar-site-name.menupop .ab-sub-wrapper,

// Sidebar Cleanup
#collapse-menu,
.wp-menu-separator,

// hide the duplciate view page button
#wp-admin-bar-view,

// WP SEO - legacy
.column-wpseo-score,
.column-wpseo-title,
.column-wpseo-metadesc,
.column-wpseo-focuskw,

// WP SEO Columns
.column-wpseo-score,

// All in one SEO Columns
.column-seotitle,
.column-seodesc,
.column-seokeywords,

// Hide Dashboard Link
.menu-icon-dashboard,

// Hide WP Footer
#wpfooter,

// Tables - remove footer bar (repeat of table header)
.wp-list-table.widefat tfoot,

// Hide Internal Search
.search-box,

// Tables - Hide inline tooltips / links
span.inline,

// Tables - links manger
.wp-list-table .column-categories,
.wp-list-table .column-rel,
.wp-list-table .column-visible,
.wp-list-table .column-rating,
.wp-list-table .column-url,

// Tables - Hide check column (legacy and new)
.wp-list-table.widefat th.check-column,
.wp-list-table.widefat td.check-column,

// Tables - Hide locked info
.wp-list-table.widefat .locked-info
{
	display: none;
}

// fix padding on wp logo dropdown
#wpadminbar #wp-admin-bar-wp-logo-default {
	padding:0;
}

.plugins .plugin-update-tr .plugin-update {
	box-shadow: none !important;
}

// remove all the box shadows
.wp-core-ui .button,
.wp-core-ui .button-secondary,
.postbox,
input[type=text],
input[type=search],
input[type=radio],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
input[type=password],
input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
select,
textarea {
	box-shadow: none !important;
}

.postbox,
.notice, div.error, div.updated,
#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
	box-shadow: none !important;
}
// remove border radius on all buttons
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary,
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
	border-radius: 0;
}


.js .meta-box-sortables .postbox .toggle-indicator:before, .js .sidebar-name .sidebar-name-arrow:before {
	content: "";
    background: url('../images/icon--up.svg');
    background-size: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.js .postbox .handlediv:focus .toggle-indicator:before {
	box-shadow:none !important;
}
.js .meta-box-sortables .postbox.closed .handlediv .toggle-indicator:before, .js .widgets-holder-wrap.closed .sidebar-name-arrow:before {
	content: "";
    background: url('../images/icon--down.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.postbox.closed .hndle {
	border-bottom: 1px !important;
}
