// Tables - on Posts, Pages and Custom Post Types


.wp-list-table.widefat th#title {
	display:inline-block;
	visibility: visible;
	width: 100%;
}

.wp-list-table.widefat td.page-title {
	visibility: visible;
	padding: 0;
	height: 30px;
	overflow: hidden;
	display:inline-block;
	width: 100%;
}

.wp-list-table.widefat td.page-title strong {
	margin-top: 0;
	padding-left: 10px;
	line-height: 30px;
	display: inline-block;
}

.wp-list-table.widefat.posts .colspanchange,
.wp-list-table.widefat.pages .colspanchange {
	visibility: visible;
	padding: 0 0 0 10px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	display:inline-block;
	width: 100% !important;
}

.wp-list-table.widefat.posts .row-actions,
.wp-list-table.widefat.pages .row-actions {
	padding: 0;
	margin:0;
	display: inline-block;
	float:right;
	visibility: hidden;
	line-height: 30px;
	padding-right:10px;
}

.wp-list-table.widefat.posts tr:hover .row-actions,
.wp-list-table.widefat.pages tr:hover .row-actions {
	visibility: visible;
}

.tablenav,
.tablenav .actions {
	display: none;
}
.tablenav.bottom {
	display: block;
}

/* include fix for 3.7 */
.wp-list-table.widefat.plugins .row-actions-visible,
.wp-list-table.widefat.plugins .row-actions.visible {
	display: inline;
	float:right;
	visibility: visible;
	line-height: 30px;
	padding: 0;
}

// hide sorting indicator
th.asc a:focus span.sorting-indicator,
th.asc:hover span.sorting-indicator,
th.desc a:focus span.sorting-indicator,
th.desc:hover span.sorting-indicator,
th.sorted .sorting-indicator {
	display: none;
}

// Toggle Row
.wp-list-table .toggle-row {
	display: none;
}