// Color Variables
$primary-color--dark : #16181B;

@import '_global.scss';
@import '_tables.scss';
@import '_plugins.scss';
@import '_third-party.scss';


.acf-columns-2 {
	margin-right:0 !important;
}
.acf-column-2 {
	display: none;
}